@import "../../variables";

.coins-to-compare-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.single-coin-cointainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.active-coin {
  color: #e28811 !important;
}

@media (max-width: 600px) {
  .coins-to-compare-container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .to-compare-text {
    font-size: 10px;
  }
  .to-compare-icon {
    height: 20px !important;
  }
}
