@media (max-width: 600px) {
  .navList-container {
    display: flex;
    flex-direction: row;
    height: 50px;
  }
  .MuiDrawer-paper {
    width: 100% !important;
    height: 50px !important;
    overflow-y: hidden !important;
  }
  .MuiListItem-root {
    justify-content: center !important;
  }

  //   .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  //     height: 50px !important;
  //     width: 100%;
  //     overflow-y: hidden !important;
  //   }
  //   .MuiDrawer-paper {
  //     width: 100% !important;
  //   }

  //   .nav-link {
  //     display: flex;
  //   }
  //   .css-1p823my-MuiListItem-root {
  //     display: flex;
  //     justify-content: center !important;
  //   }
}

.MuiDrawer-paper {
  width: 100px;
  height: 100px;
}

// .css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
//   height: 100px;
// }
