@import "../variables";

@media (max-width: 600px) {
  .navList-container {
    display: flex;
    flex-direction: row;
    height: 50px;
  }
  .MuiDrawer-paper {
    width: 100% !important;
    height: 50px !important;
    overflow-y: hidden !important;
    border-bottom: 2px solid $propdoBlue;
  }
  .MuiListItem-root {
    justify-content: center !important;
  }
}

.MuiDrawer-paper {
  width: 100px;
  height: 100px;
}
