.container {
  overflow-x: auto;
}

@media (max-width: 600px) {
  .container {
    margin-top: 50px;
  }

  .MuiTablePagination-actions {
    margin-left: 0 !important;
  }
  .MuiTablePagination-selectLabel {
    font-size: 13px !important;
  }
  .MuiTablePagination-displayedRows {
    font-size: 13px !important;
  }
  .MuiTablePagination-select {
    padding-left: 3px !important;
  }
  .MuiTablePagination-toolbar {
    overflow-x: hidden;
  }
}

// th {
//   white-space: nowrap;
// }

.dsgss {
  color: rgb(83, 83, 83);
}
